/* --- 사이드바 컨테이너 --- */
.sidebar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: #eaeee0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* 열었을 때 */
.sidebar.open {
  width: 360px;
  padding: 30px;
}

/* 닫았을 때 */
.sidebar.closed {
  width: 120px;
  padding: 30px;
}

/* --- 로고 및 프로필 --- */
.logo {
  position: absolute;
  top: 38px;
  left: 33px;
  width: 56px;
  height: 55px;
}

.profile {
  position: absolute;
  left: 38px;
  bottom: 38px;
  width: 45px;
  height: 45px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --- 사이드바 버튼 --- */
.toggle {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 38px;
  left: 95px;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: #1f1f1f;
  border: None;
}

/* --- 새로운 약속 만들기 버튼 --- */
.newButton {
  position: relative;
  margin: 100px 0 25px 0;
  width: 300px;
  height: 60px;
  padding: 12px;
  gap: 10px;
  background: black;
  border: None;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar.closed .newButton {
  background-color: transparent;
  width: 60px;
}

/* 버튼 아이콘 */
.buttonIcon {
  position: relative;
  width: 35px;
  height: 35px;
}

.buttonIconClosed {
  position: relative;
  width: 50px;
  height: 50px;
}

/* 버튼 텍스트 */
.buttonText {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #c4c5b7;
  order: 1;
  flex-grow: 1;
}

.sidebar.closed .buttonText {
  display: none;
}

/* --- 닫았을 때 아이콘 모음 --- */
.sidebar.open .iconRow {
  display: none;
}

.iconRow {
  margin: 135px 0px 0px 0px;
  gap: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconButton {
  position: relative;
  width: auto;
  height: auto;
  padding: 0px 0px;
  gap: 10px;
  border: None;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconText {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #85837B;
  order: 1;
  flex-grow: 1;
  white-space: nowrap;
}

/* --- 달력 --- */
.calendar {
  position: relative;
  margin: 25px 0;
  width: 300px;
  padding: 25px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #f6faed;
}

/* 상단 */
.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 15px;
  color: #85837b;
}

/* 월 이동 버튼 */
.moveMonth {
  background: none;
  font-size: 15px;
  font-weight: 300;
  border: None;
  cursor: pointer;
  color: #7b7878;
  opacity: 0.5;
}

/* 오늘 버튼 */
.todayButton {
  background: none;
  font-size: 12px;
  font-weight: 300;
  border: None;
  cursor: pointer;
  color: #85837b;
}

/* 달력 그리드 */
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 5px;
  padding: 5px;
}

/* 요일 텍스트 */
.dayName {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  color: #85837b;
}

/* 날짜 */
.day {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #85837b;
  font-size: 11px;
  font-weight: 500;
}

/* 빈 날짜 */
.empty {
  visibility: hidden;
}

/* 약속 표시 */
.hasAppointment {
  width: 100%;
  color: #fafff2;
  background: #1f1f1f;
  border-radius: 4px;
}

.sidebar.closed .calendar {
  display: none;
}

/* --- 약속 목록 --- */
.appointments {
  position: relative;
  margin: 25px 0;
  width: 100%;
  height: 140px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #f6faed;
}

/* 스크롤 영역 */
.appointmentsBox {
  max-height: 100px;
  overflow-y: auto;
}

/* 기본 스타일 초기화 */
.appointments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appointmentItem {
  padding: 5px 0;
}

.appointmentText {
  font-size: 13px;
  font-weight: 500;
  color: #8aa24b;
}

.sidebar.closed .appointments {
  display: none;
}
