.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #EAEEE0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  background: #FAFFF2;
  border-radius: 15px 0 0 15px;
  padding: 24px;
  overflow-y: auto;
  transition: all 0.3s ease;
}
