.home-container {
  display: flex;
  flex: 1;
  width: 100%;
  min-width: 0;
  height: 100vh;
  background-color: #EAEEE0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  min-width: 0;      
  min-height: 0;
  background: #FAFFF2;
  border-radius: 15px 0 0 15px;
  padding: 24px;
  overflow: auto;
  transition: all 0.3s ease;
}
