@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* --- 페이지 레이아웃 --- */
.resultPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #e9ede2;
  overflow: hidden;
}

/* --- 메인 컨테이너 --- */
.resultContainer {
  flex: 1;
  background-color: #fafff2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* --- 약속 범위 --- */
.rangeContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}

.rangeText {
  display: flex;
  margin: 25px;
  color: #85837b;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.weekContainer {
  padding: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monthText {
  display: flex;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 45px;
  color: #292929;
  width: 200px;
  height: 45px;
  align-items: center;
  justify-content: center;
}

/* --- 날짜 7개 --- */
.weekGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  flex: 1;
}

.dayCell {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 105px;
  padding: 13px 16px;
  border-radius: 15px;
}

.dayText {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #3e3e3e;
}

.dayText.sunday {
  color: #eeb1b1;
}

.dayText.saturday {
  color: #74abb4;
}

.dayCell.selected {
  background-color: #bbcea0;
}

.dayCell.selected .dayText {
  color: #ffffff;
}

/* --- 추가 설정 --- */
.addSetting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 0px;
}

.setText {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;
  color: #85837b;
  margin: 45px;
  text-align: center;
}

.errorText {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #85837b;
  margin: 45px;
  text-align: center;
}

.setInput {
  background-color: #e9ede2;
  color: #292929;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  box-sizing: border-box;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* --- 추천 날짜 --- */
.resultContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0px;
}

.noticeText {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 45px;
  color: #292929;
  margin: 45px;
  text-align: center;
}


/* --- 추천 날짜 목록 --- */
.resultList {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
}

.resultCard {
  width: 900px;
  padding: 10px 30px;
  border-radius: 20px;
  background: #e9ede2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.resultNum {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.resultText {
  display: flex;
  align-items: center;
  gap: 20px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;

  color: #292929;
}

.resultDate {
  width: 250px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
